---
//imports
import "../../styles/global.css";
import "../../styles/post/globaPost.css";
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
//Props de frontmatter
const { frontmatter } = Astro.props;
---
<!-- Cuerpo del layout post-1 -->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
        <meta name="description" content={frontmatter.description} />
    </head>
    <body>
        <Header />
        <main class="post-container">
            <article>
                <header class="post-header">
                    <h1>{frontmatter.title}</h1>
                    <div class="post-meta">
                        <span>Publicado el: {frontmatter.pubDate.toString().slice(0,10)}</span>
                        <span>Escrito por: {frontmatter.author}</span>
                        <p>{frontmatter.description}</p>
                    </div>
                </header>
                <section class="post-content">
                    <slot />
                </section>
            </article>
        </main>
        <footer>
            <Footer />
        </footer>
        <script>
            import '../../scripts/menu';
        </script>
    </body>
</html>