---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import SectionList from '../components/sectionList.astro';
import { pageTitle, pageBlog, profile, universityProjects, personalProjects, relevantExperience, techStack, tools, languages } from '../data/dataAbout';
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageBlog}</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>{pageTitle}</h1>
			<p>{profile}</p>
			<SectionList title="Proyectos Universitarios" items={universityProjects} />
			<SectionList title="Proyectos Personales" items={personalProjects} />
			<SectionList title="Experiencia Relevante" items={relevantExperience} />
			<SectionList title="Tech Stack" items={techStack} />
			<SectionList title="Herramientas" items={tools} />
			<SectionList title="Idiomas" items={languages} />
		</main>
		<footer>
			<Footer />
		</footer>
		<script>
			import '../scripts/menu';
		</script>
	</body>
</html>
