---
import '../styles/global.css';
import '../styles/navigation.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Contacto from '../components/contacto.astro';
import SectionLinks from '../components/sectionLinks.astro';
import { pageNameTitle, pageBlog, descPage , secciones, titleContact, textContact} from '../data/dataBase';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageBlog}</title>
	</head>
	<body>
		<Header />
		<section>
			<h1>{pageNameTitle}</h1>
				<p>
					{descPage}
				</p>
		</section>
		{secciones.map((section) => (
			<SectionLinks title={section.title} text={section.text} links={section.links} />
		))}
		<section>
			<h2>{titleContact}</h2>
				<p>
					{textContact}
				</p>
					<Contacto />
		</section>
		<footer>
			<Footer />
		</footer>
		<script>
			import '../scripts/menu';
		</script>
	</body>
</html>