---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import SectionLinks from '../components/sectionLinks.astro';
import '../styles/global.css';
import '../styles/navigation.css';

//Informacion sobre page
const pageTitle = "Blog del Dev";
const pageTitleBlog = "Blog Dev";
const descPage = "Post sobre mí como desarrollador, pasiones y cosas que me gustan";

//informacion post-1
const titlePost_1 = "Cómo uso Supabase en mis proyectos";
const textPost_1 = "Explico un poco el uso de Supabase y cuento mi experiencia trabajando con él.";

//informacion post-2
const titlePost_2 = "Cómo uso IA en mis proyectos";
const textPost_2 = "Explico un poco el uso de la IA y cuento mi experiencia trabajando con élla.";

//Arry the sections
const secciones = [
{
	title: titlePost_1,
	text: textPost_1,
	links: [
		{label: "Uso de Supabase", url:"/posts/post-1"}
	]
},
{
	title: titlePost_2,
	text: textPost_2,
	links: [
		{label: "Uso de la IA", url:"/posts/post-2"}
	]
}
];
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitleBlog}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
			<h2>{descPage}</h2>
			
		{secciones.map((section) => (
			<SectionLinks title={section.title} text={section.text} links={section.links} />
		))}
		<footer>
			<Footer />
		</footer>
		<script>
			import '../scripts/menu';
		</script>
	</body>
</html>